
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
.settings/
.project
.classpath
*.iml
*.ipr
*.iws
.idea/
.vscode/
.gradle/
/build/
target/
!**/src/main/**/target/
!**/src/test/**/target/
*.swp
*.swo
.DS_Store
Thumbs.db
